

<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
        <div class="col-md-4 col-sm-4 sidebar">
            <a href="#/user/{{model.userId}}/website" class="glyphicon-to-left narbar-adjust-toLeft">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <a class="navbar-header navbar-brand header-white-bold hidden-xs" href="#">Websites</a>
            <a href="#" class="glyphicon-to-right hidden-xs">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-md-8 col-sm-8">
            <a class="navbar-header navbar-brand header-white-bold" href="#">New Website</a>
            <a href="#/user/{{model.userId}}/website" class="glyphicon-to-right">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="row">
<div class="col-md-4 col-sm-4 hidden-xs">
    <div id="web-lists">
        <ul class="list-unstyled">
            <div ng-repeat="website in model.websites">
                <li>
                    <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                    <a href="#/user/{{model.userId}}/website/{{website._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>
<div class="col-md-8 col-sm-8 session-divider">
    <form id="new-website-form">
        <div class="form-group">
            <label for="website-name">Name</label>
            <input ng-model="model.website.name" id="website-name"
                   type="text"
                   placeholder="Name"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="website-description">Description</label>
            <textarea ng-model="model.website.description" id="website-description"
                   type="text"
                   placeholder="Description"
                   class="form-control"></textarea>
        </div>
        <a ng-click="model.addNewWebsite(model.website)" class="btn btn-primary  btn-block">Submit</a>
    </form>
</div>
</div>
<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <a class="glyphicon-to-right" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a >

    </div>
</nav>
