
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="col-md-4 col-sm-4">
        <a href="#/user/{{model.userId}}/website/{{model.websiteid}}/page" class="glyphicon-to-left color-black narbar-adjust-toLeft">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
        </a>
        <a class="navbar-header navbar-brand header-white-bold hidden-xs" href="#">Pages</a>
        <a href="#" class="glyphicon-to-right color-black hidden-xs">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
            </div>
        <div class="col-md-8 col-sm-8">
            <a class="navbar-header navbar-brand header-white-bold" href="#">New Page</a>
            <a ng-click="model.addNewPage(model.page)" class="glyphicon-to-right color-black">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>



<div class="row">
    <div class="col-md-4 col-sm-4 hidden-xs">
    <div id="web-lists">
        <ul class="list-unstyled">
            <div ng-repeat="page in model.pages">
                <li>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>
<div class="col-md-8 col-sm-8 session-divider">
    <form id="new-page-form">
        <div class="form-group">
            <label for="page-name">Name</label>
            <input ng-model="model.page.name" id="page-name"
                   type="text"
                   placeholder="Name"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="page-title">Title</label>
            <input ng-model="model.page.title" id="page-title"
                      type="text"
                      placeholder="Page Title"
                      class="form-control"/>
        </div>
        <a ng-click="model.addNewPage(model.page)" class="btn btn-success  btn-block">Submit</a>
    </form>
</div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fluid">
        <a class="glyphicon-to-right" href="#/user/:uid">
            <span class="glyphicon glyphicon-user color-primary"></span>
        </a >

    </div>
</nav>
