
<nav class="navbar navbar-fixed-top navbar-light bg-primary">
    <div class="container-fluid">
            <a class="navbar-header navbar-brand header-white-bold" href="#">Profile</a>
                <a ng-click="model.updateProfile()" class="glyphicon-to-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="username"> Username</label>
            <input ng-model="model.user.username" id="username"
                   type="text"
                   placeholder="saikikwok"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="model.user.email" id="email"
                   type="email"
                   placeholder="xxx@gmail.com"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input ng-model="model.user.firstname" id="firstname"
                   type="text"
                   placeholder="Saiki"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input ng-model="model.user.lastname" id="lastname"
                   type="text"
                   placeholder="Kwok"
                   class="form-control"/>
        </div>
    </form>
    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.logout()">Logout</a>
</div>
<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <a class="glyphicon-to-right" href="#/user/{{model.user._id}}">
            <span class="glyphicon glyphicon-user"></span>
        </a >

    </div>
</nav>
