
<div class="container">
    <h1>Register</h1>
    <input ng-model="model.user.username" placeholder="username"
           type="text"
           class="form-control"/>
    <input ng-model="model.user.password" placeholder="password"
           type="password"
           class="form-control"/>
    <input ng-model="model.user.password" type="password"
            placeholder="verify password"
            class="form-control"/>
    <a class="btn btn-primary btn-block"
       href="#/user/:uid">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>
