<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BookedRead</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/search">Search</a></li>
            </ul>
            <ul ng-show="model.isLoggedIn()" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{{model.currentUser.username}}</li>
                        <li><a href="#/user/{{model.currentUser._id}}">Profile</a></li>
                        <li><a ng-click="model.logout()">Logout</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/favorites">Favorites</a></li>
                    </ul>
                </li>
            </ul>
            <ul ng-hide="model.isLoggedIn()" class="nav navbar-nav navbar-right">
                <li><a href="#/register">Register</a></li>
                <li><a href="#/login">Log in</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="mainContainer" class="container">
    <div class="panel panel-default height-100perct">
        <div class="panel-body height-100perct">
            <div id="content" class="row height-100perct ">
                <div id="left-col" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="panel panel-default my_panel height-inherit">

                        <div class="panel-body">
                            <img ng-src="{{model.authorImage}}" class="img-responsive center-block"/>
                        </div>
                        <div class="panel-footer white-bg">
                            <h3>The Writer</h3>
                            <p>{{model.authorDetail}}</p>
                            <!--<a href="#">Read More</a>-->
                        </div>
                    </div>
                </div>
                <!--class="col-lg-9 col-md-8 col-sm-9 col-xs-7"-->
                <div id="right-col" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <!--padding-bottom: 10px-->
                    <div class="height-100perct">
                        <div class="panel panel-default relative-100-height">
                            <!--<div class="panel-body">-->
                            <!--<img src="http://placehold.it/150x150" alt="" class="img-responsive center-block" />-->
                            <!--</div>-->
                            <div class="panel-footer large-padding-inherit-height">
                                <div class="container-fluid fixer">
                                    <div class="col-sm-5 center-texting">
                                        <img class="img-responsive initial-display" ng-src="{{model.bookImage}}"/>
                                    </div>
                                    <div class="col-sm-7 center-texting">
                                        <h4 class="h4-fixeer">{{model.book.volumeInfo.title}}</h4>
                                        <a ng-hide="model.isSaved" ng-click="model.saveToReadingList()" class="btn btn-success">Save</a>
                                        <a ng-show="model.isSaved" ng-click="model.deleteFromReadingList()" class="btn btn-success">Saved</a>
                                    </div>
                                </div>

                                <div class="container-fluid minor-fixer">
                                    <h5 class="padding-top-bottom">Description: </h5>
                                    <p>{{model.book.volumeInfo.description}}</p>
                                </div>

                                <div ng-if="model.isLoggedIn()" class="textarea-fixer">

                                    <div ng-model="model.userreview"
                                         text-angular ta-toolbar=
                                                 "[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                       ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                       ['indent','outdent'],['html']]">
                                    </div>
                                    <br>
                                    <a ng-click="model.submitReview()" class="btn btn-success btn-block">Submit</a>
                                    <!--<textarea rows="5" class="form-control" type="text"-->
                                              <!--placeholder="Write your comment"></textarea>-->
                                    <!--<br>-->
                                    <!--<a class="btn btn-success btn-block"-->
                                       <!--href="#">Submit</a>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="grey-bg">
<div class="container bootstrap snippet grey-bg">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-comment">
                <h3 class="text-success">Reviews</h3>
                <hr/>
                <ul ng-if="model.reviews" class="comments" ng-repeat="review in model.reviews">
                    <li class="clearfix">
                        <img src="../../../project/resource/usericon1.jpeg" class="avatar" alt="">
                        <div class="post-comments">
                            <p class="meta"> {{review.dateCreated}} <a href="#"> {{review._reader.username}} </a>
                                says :
                                <a ng-show="model.currentUser.isAdmin" class="pull-right" ng-click="model.deleteReview(review)">delete</a>
                            </p>
                             <div ng-bind-html="model.checkSafeHTML(review.content)"></div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>


