
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="glyphicon-to-left color-black">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
        </a>
        <a class="navbar-header navbar-brand header-white-bold" href="#">Choose Widget</a>
    </div>

</nav>
<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fluid">
        <a class="glyphicon-to-right" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user color-primary"></span>
        </a >

    </div>
</nav>

<div>
    <div id="web-lists">
        <ul class="list-unstyled">
            <li>
                <a ng-click="model.toCreateNewWidget('HEADER')">Header</a>
            </li>
            <li>
                Label
            </li>
            <li><a ng-click="model.toCreateNewWidget('HTML')">HTML</a></li>
            <li><a ng-click="model.toCreateNewWidget('INPUT')">TEXT INPUT</a></li>
            <li>Link</li>
            <li>Button</li>
            <li><a ng-click="model.toCreateNewWidget('IMAGE')">Image</a> </li>
            <li><a ng-click="model.toCreateNewWidget('YOUTUBE')">YouTube</a></li>
            <li>Data Table</li>
            <li>Repeater</li>
        </ul>
    </div>
</div>

