
<!--<nav class="navbar navbar-fixed-top navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--<a href="widget-list.view.client.html" class="glyphicon-to-left color-black">-->
          <!--<span class="glyphicon glyphicon-chevron-left">-->
          <!--</span>-->
        <!--</a>-->
        <!--<a class="navbar-header navbar-brand header-white-bold" href="#">Widget Edit</a>-->
        <!--<a href="widget-list.view.client.html" class="glyphicon-to-right color-black">-->
            <!--<span class="glyphicon glyphicon-ok"></span>-->
        <!--</a>-->
    <!--</div>-->

<!--</nav>-->
<!--<nav class="navbar navbar-fixed-bottom navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--<a class="glyphicon-to-right" href="../user/profile.view.client.html">-->
            <!--<span class="glyphicon glyphicon-user color-primary"></span>-->
        <!--</a >-->

    <!--</div>-->
<!--</nav>-->

<!--<div>-->
    <!--<form id="widget-form">-->
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input ng-model="model.widget.name" id="widget-heading-name"
                   type="text"
                   placeholder="Name"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input ng-model="model.widget.text" id="widget-heading-text"
                   type="text"
                   placeholder="Text"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <input ng-model="model.widget.size" id="widget-heading-size"
                   type="number"
                   placeholder="3"
                   class="form-control"/>
        </div>
        <a ng-click="model.updateTheWidget()" class="btn btn-success  btn-block">Update</a>
        <a ng-click="model.deleteTheWidget()" class="btn btn-danger  btn-block">Delete</a>

    <!--</form>-->
<!--</div>-->
