
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="glyphicon-to-left color-black">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
        </a>
        <a class="navbar-header navbar-brand header-white-bold" href="#">Widgets</a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="glyphicon-to-right color-black">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</nav>


<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fluid">
        <a class="glyphicon-to-left" href="#">
            <span class="glyphicon glyphicon-play color-black"></span>
        </a>
        <a class="glyphicon-to-left" href="#">
            <span class="glyphicon glyphicon-eye-open color-black"></span>
        </a>
        <a class="glyphicon-to-right" href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user color-primary"></span>
        </a >

    </div>
</nav>

<div class="container-fluid container-margin-top-bottom">
    <ul class="list-unstyled" jgasortable pageid="{{model.pageId}}">
        <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgets" class="wam-widget">
            <li class="list-bottom-margin">
                <div class="relative-position">
                    <div class="absolute-position list-element-menu zero-right-padding">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                    </div>
                    <div ng-switch="widget.size" ng-switch-when="HEADER" class="container-fluid zero-right-padding">
                        <h1 ng-switch-when="1" class="header-title">{{widget.text}}</h1>
                        <h2 ng-switch-when="2" class="header-title">{{widget.text}}</h2>
                        <h3 ng-switch-when="3" class="header-title">{{widget.text}}</h3>
                        <h4 ng-switch-when="4" class="header-title">{{widget.text}}</h4>
                        <h5 ng-switch-when="5" class="header-title">{{widget.text}}</h5>
                        <h6 ng-switch-when="6" class="header-title">{{widget.text}}</h6>
                    </div>
                    <div ng-switch-when="IMAGE" class="container-fluid zero-right-padding">
                        <img class="img-responsive" ng-src="{{model.checkSafeIMAGE(widget.url)}}"/>
                    </div>
                    <div ng-switch-when="YOUTUBE" class="container-fluid zero-right-padding">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe ng-src="{{model.checkSafeYOUTUBE(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHTML(widget.text)" class="container-fluid zero-right-padding">
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
