<div>
    <div ng-show="model.alert" class="alert alert-danger" role="alert">{{model.alert}}</div>
    Name
    <input ng-model="model.widget.name" class="form-control"/>
    Text
    <input ng-model="widget.text" class="form-control"/>
    Rows
    <input ng-model="model.widget.rows" class="form-control" type="number"/>
    Placeholder
    <input ng-model="model.widget.placeholder" class="form-control"/>
    Formatted
    <input ng-model="model.widget.formatted" type="checkbox"/>
</div>




        <!--<div class="form-group">-->
            <!--<label for="widget-heading-name">Name</label>-->
            <!--<input ng-model="model.widget.name" id="widget-heading-name"-->
                   <!--type="text"-->
                   <!--placeholder="Name"-->
                   <!--class="form-control"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="widget-heading-text">Text</label>-->
            <!--<input ng-model="model.widget.text" id="widget-heading-text"-->
                   <!--type="text"-->
                   <!--placeholder="Text"-->
                   <!--class="form-control"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="widget-heading-size">Size</label>-->
            <!--<input ng-model="model.widget.size" id="widget-heading-size"-->
                   <!--type="number"-->
                   <!--placeholder="3"-->
                   <!--class="form-control"/>-->
        <!--</div>-->
        <!--&lt;!&ndash;<a ng-click="model.updateTheWidget(model.widget)" class="btn btn-success  btn-block">Update</a>&ndash;&gt;-->
        <!--<a ng-click="model.deleteTheWidget()" class="btn btn-danger  btn-block">Delete</a>-->

